.env
.env.*
*.env
*.env.local
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env/
.venv/
ENV/
env/
db.sqlite3
*.sqlite3
/migrations/
*/migrations/
**/migrations/*.py
!**/migrations/__init__.py
*.log
staticfiles/
media/
*.pot
*.pyc
.pytest_cache/
node_modules/
build/
dist/
secret.json